/* color flipper */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

.nav-center {
  background-color: white;
  box-shadow: 2px 2px 10px grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgb(9, 62, 80);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
}

main {
  width: 100%;
  height: 90vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  background-color: gainsboro;
  padding: 30px;
  border-radius: 0.8rem;
  margin-bottom: 30px;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border-radius: 0.5rem;
  margin-left: 120px;
  outline: none;
  border: 2px solid black;
}
.btn:hover {
  background: white;
  color: black;
}
footer {
  display: block;
  background: gainsboro;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 2px -2px 10px grey;
}
